/* .resume-sector-display { */
    /* height: 100vh;  */
    /* display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-top: 100px; */
    /* align-items: center; */
  /* } */