.user-dropdown {
    display: inline-flex;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}
.logout-box {
    display: flex;
    align-items: center;
    text-align: center;
    color: darkslategray;
    border-radius: 2px;
}
.admin-tag {
    font-size: small;
}
.logout-icon {
    margin-right: 10px;
}
