.editor {
    padding-top: 50px;
    padding-left: 50px;
}

.name-editor,
.division-editor,
.imageloc-editor {
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.name-editor p
.division-editor p,
.imageloc-editor p {
    text-transform: uppercase;
    font-size: 20px;
}

.sector-editor-field {
    width: 450px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.save-button {
    padding-top: 10px;
    padding-left: 20px;
}