.nav-bar {
  width: 20%;
  min-width: 200px;
  padding: 0rem;
}
.nav-button {
  display: flex;
  background-color: #00569c;
  color: #ffffff;
  font-size: 0.8em;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.nav-button:hover {
  background-color: #142e44;
}
.nav-buttons-hide-container {
  display: none;
}
.recently-viewed {
  height: 83vh;
  margin-top: 0rem;
}

.recently-viewed-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  font-size: 22px;
  font-weight: 400;
  color: white;
  background-color: #00569c;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

h2 {
  margin-top: 0;
}
