.nav-bar {
  min-width: 15%;
}
.nav-button {
  display: flex;
  background-color: #00569c;
  color: #ffffff;
  font-size: 0.8em;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.nav-button:hover {
  background-color: #142e44;
}
.nav-buttons-hide-container {
  visibility: hidden;
}
.recently-viewed {
  height: 400px;
  background-color: #ffffff;
  margin-top: 0rem;
}
