.proposal-name-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    border: none;
    padding: 2rem;
}

.save-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.proposal-name-hint {
    font-size: .75em;
    color: gray;
}