.recently-viewed {
    height: 100%;
    font-family: Oxygen, sans-serif;
    font-weight: 300;
    font-size: 120%;
}
.recently_viewed_title {
    margin-top: 0rem;
}
.no-recently-viewed {
    align-self: center;
    margin: 2rem;
    margin-top: 5rem;
}