.recently-viewed {
    height: 100%;
    border-right: 2px double #00569c;
    border-top: 2px double #00569c;
    margin-left: 10px;
}
.recently_viewed_title {
    margin-top: 0rem;
}
.no-recently-viewed {
    font-style: italic;
}